<div class="py-5">
  <div class="container">
    <div class="row about-box">

      <div class="col-lg-8 align-content">
        <section class="card nga-card-about card-logo">
          <i class="bi bi-person-vcard"></i>
          <!-- <img class="" src="./assets/params/images/about/ganatan-about.png" height="160" width="160" alt="logo Ganatan" title="logo Ganatan"> -->
          <div class="card-body">
            <h1 class="card-title h1">
              <strong>dbMICE Team</strong>
            </h1>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Karan Chauhan</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Prathik-A Nayak</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Neha Pallavi</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Sujeet Kumar Singh</p>   
            <p><i class="fas fa-laptop-code"></i>&nbsp;Sunil Soni</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Navneet Sharma</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Namrata Bileyali</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Sunita Baliarsingh</p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Janani Priya Rajendran</p>
            <hr>
            <h4 class="pt-3 "> With AI, its possible!</h4>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>