<div class="container pt-5">
    <div class="row">
        <div class="col-4"><span (click)="goBack()" style="cursor: pointer;"><i
                    class="fa-solid fa-less-than"></i>&nbsp;Back</span></div>
        <div class="col-8">
            <h1 class="h5"> Client Confirmation vs DB Confirmation:</h1>

        </div>

        <hr class="mt-2">
    </div>
    <div class="row  justify-content-center">
        <div class="col-6">
            <p>Client:</p>

        </div>
        <div class="col-6">
            <p>DB:</p>
            
        </div>

    </div>

</div>