<div class="container pt-5">
  <div class="row">
    <div class="col-4" ><span (click)="goBack()" style="cursor: pointer;"><i class="fa-solid fa-less-than"  ></i>&nbsp;Back</span></div>
    
  <div class="col-8">
    <h1 class="h5"> Let's improve your day to day search with a tinch of AI:</h1>
    
  </div>
  <hr class="mt-2">
</div>
  <div class="row  justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="text-center col mb-4">
        <div class="card bg-light p-4 text-center">
         
          <div class="card-body" >
           
          </div>
          
        </div>
      </div>

    </div>

  </div>

</div>